/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #eddfa9;
}

/* Header Styles */
header {
    background-color: #271616;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; /* Add this line */
}

/* Header Text Styles */
.header-text {
    font-size: 20px; /* Adjust font size */
    color: white; /* White color for better contrast */
    margin-top: 10px; /* Add space above the text */
}

/* Header Buttons Styles */
.header-buttons {
    float: right;
}

.register-button {
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.register-button:hover {
    background-color: #e04e2a;
}

.login-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #222;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #444;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Additional Styles */
h2 {
    font-size: 28px;
    color: #333;
}

p {
    color: #555;
}

.orange-letter {
    color: orange;
}

.green-portal {
    color: green;
}
